.cell {
    aspect-ratio: 1/1;    
}

.canvas {
    display: flex;
    flex-wrap: wrap;
    border: 10px solid red;
    margin: 10px;
    width: 1000px;
    aspect-ratio: 1/1;
}

.center {
    margin: auto;
    text-align: center;
}